#!/bin/sh

/opt/mapr/server/configure.sh -M7 {% if secure_cluster is defined and secure_cluster == True %}-secure{% endif %} \
	-C {% for node in groups['cldb'] -%}{{ hostvars[node].ansible_fqdn }}{% if not loop.last %},{% endif %}{% endfor %} \
	-Z {% for node in groups['zookeeper'] -%}{{ hostvars[node].ansible_fqdn }}{% if not loop.last %},{% endif %}{% endfor %} \
	-N {{cluster_name}} {% if ansible_virtualization_role == "guest" %}--isvm{% endif %} \
{% if myriad_enabled %}
	-RM {{myriad_frameworks.framework1.rm_name}}.marathon.mesos  -HS jobhistory.{{myriad_frameworks.framework1.name}}.mesos -MF {{myriad_frameworks.framework1.name}} -MCL {{myriad_frameworks.framework1.name}} \
{% else %}
	-HS {% for node in groups['historyserver'] -%}{{hostvars[node].ansible_fqdn }}{% if not loop.last %},{% endif %}{% endfor %} \
{% endif %}
{% if mapr_version.startswith('v4.0.1') %}
	-RM {% for node in groups['resourcemanager'] -%}{{hostvars[node].ansible_fqdn }}{% if not loop.last %},{% endif %}{% endfor %} \
{% endif %}
	-on-prompt-cont y {% if classic_enabled %} -du {{metrics_user}} -dp {{metrics_password}} -d {{hostvars[metrics_host].ansible_fqdn}} {% endif %}

