#!/bin/sh

/opt/mapr/server/configure.sh -secure -genkeys \
  -C {% for node in groups['cldb'] -%}{{ hostvars[node].ansible_fqdn }}{% if not loop.last %},{% endif %}{% endfor %} \
  -Z {% for node in groups['zookeepers'] -%}{{ hostvars[node].ansible_fqdn }}{% if not loop.last %},{% endif %}{% endfor %} \
  -N {{cluster_name}} {% if ansible_virtualization_role == "guest" %} --isvm{% endif %}
